{% extends 'base/base.html' %}
{% load static i18n %}
{% block title %}{% translate "Customers list" %}{% endblock title %}
{% block content %}
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <div class="flex justify-between items-center pb-4 bg-white dark:bg-gray-900">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <input type="text" id="table-search-users"
                class="block p-2 pl-10 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search for users">
        </div>
    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                    {% translate "Customer" %}
                </th>
                <th scope="col" class="py-3 px-6">
                    {% translate "Account status" %}
                </th>
                <th scope="col" class="py-3 px-6">
                    {% translate "Action" %}
                </th>
            </tr>
        </thead>
        <tbody>

            {% for user in object_list %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="flex items-center py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white">
                    <svg class="w-50 h-50 rounded-full ring-2 ring-gray-300 dark:ring-white-100" width="50" height="50"
                        data-jdenticon-value="{{user.username}}"></svg>
                    <div class="pl-3">
                        <div class="text-base font-semibold">{{user.get_full_name}}</div>
                        <div class="font-normal text-gray-500">
                            <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                href="mailto:{{user.email}}">
                                {{user.email}}
                            </a>
                        </div>
                        <div class="font-normal text-gray-500">
                            <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                href="https://wa.me/{{user.profile.whatsapp}}" target="_blank">
                                {{user.profile.whatsapp}}
                            </a>
                        </div>
                    </div>
                </th>
                <td class="py-4 px-6">
                    <div class="flex items-center">
                        {% if user.profile.validated_client == True %}
                        <div class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2"></div> {% translate "Valid account" %}
                        {% else %}
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> {% translate "Invalid account" %}
                        {% endif %}
                    </div>
                </td>
                <td class="py-4 px-6">
                    <a href="#"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                        {% translate "Update status" %}
                    </a>
                    <a href="#" type="button" data-modal-toggle="deleteUserModal_{{user.id}}"
                        class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 inline-flex items-center">
                        {% translate "Delete" %}
                    </a>
                </td>
            </tr>
            <div id="deleteUserModal_{{user.id}}" tabindex="-1" aria-hidden="true"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center p-4 w-full md:inset-0 h-modal md:h-full">
                <div class="relative w-full max-w-2xl h-full md:h-auto">
                    <form method="post" action="{% url 'user-delete' user.id %}" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                {% translate "Delete user" %} <span class="text-blue-600">{{user.get_full_name}}</span>  ?
                            </h3>
                            <button type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-toggle="deleteUserModal_{{user.id}}">
                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="p-6 space-y-6">
                            <div class="grid grid-cols-6 gap-6">
                               
                            </div>
                        </div>
                        <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                            <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save
                                all</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}