{% extends 'base/base.html' %}
{% load static i18n %}
{% block title %}
{% if object %}
{% translate "Add post" %}
{% else %}
{% translate "Update post" %}
{% endif %}

{% endblock title %}
{% block content %}
{{form.media}}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="grid col-1 mx-auto max-w-7xl gap-6 mb-6 md:grid-cols-1 lg:grid-cols-2 md:mt-10">
        <div class="justify-center p-2 md:p-4">
            <label for="id_title" class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-300">
                {{form.title.label}}
            </label>
            {{form.title}}
            {% for error in form.title.errors %}
            <p><small class="text-sm text-red-700 dark:text-red-500">{{ error }}</small></p>
            {% endfor %}
        </div>
        <div class="order-3 lg:order-2 justify-center p-2 md:p-4">
            <label for="id_category" class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-300">
                {{form.category.label}}
            </label>
            {{form.category}}
            {% for error in form.category.errors %}
            <p><small class="text-sm text-red-700 dark:text-red-500">{{ error }}</small></p>
            {% endfor %}
        </div>
        <div class="order-2 lg:order-3 justify-center p-2 md:p-4">
            <label for="id_content" class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-300">
                {% translate "Article" %}
            </label>
            <div class="mx-auto text-gray-800 dark:text-gray-300  ">{{form.content}}</div>
            {% for error in form.content.errors %}
            <p><small class="text-sm text-red-700 dark:text-red-500">{{ error }}</small></p>
            {% endfor %}
        </div>
        <div class="order-4 lg:order-4 justify-center p-2 md:p-4 max-w-md">
            <label for="id_feature_image" class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-300">
                {{form.feature_image.label}}
            </label>
            <label for="id_feature_image"
                class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col justify-center items-center pt-5 pb-6">
                    <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                        </path>
                    </svg>
                    <p class="mb-2 text-lg text-gray-500 dark:text-gray-400">
                        <span class="font-semibold">{% translate "Click to upload" %}</span>
                    </p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">
                        SVG, PNG, JPG or GIF (MAX. 800x400px)
                    </p>
                </div>
                {{form.feature_image}}
            </label>

        </div>
    </div>
    <div class="mx-auto max-w-7xl">
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

            {% if object %}
            {% translate "Update" %}
            {% else %}
            {% translate "Publish" %}
            {% endif %}
            <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>

</form>

{% endblock content %}